.feedComponent {
  @apply py-2 px-4 shadow-sm rounded-md bg-white;
  max-width: 50rem;
  width: 100%;
  margin: 1rem auto 1rem auto;

  & .username {
    @apply text-pink-900 font-bold text-base;
  }

  & .newsTitle {
    @apply mt-2 text-gray-500 text-base font-semibold;
  }

  & .divider {
    @apply my-2 w-full;
  }

  & .content {
    @apply mt-2 text-base font-medium text-gray-800;
  }
}