.news {
  @apply py-2 px-4 shadow-sm rounded-md bg-white;
  max-width: 50rem;
  width: 100%;
  margin: 1rem auto 1rem auto;

  & .header {
    @apply mt-2 w-full flex items-center;

    & .title {
      @apply text-xl font-bold;
    }

    & .publishedAt {
      @apply ml-auto text-sm font-bold whitespace-nowrap text-gray-500 hidden sm:flex;
    }
  }

  & .description {
    @apply mt-2 mb-2 text-base font-normal overflow-x-hidden;
  }

  & .footer {
    @apply mt-4 flex items-center;

    & .link {
      @apply text-sm font-semibold text-sky-600 py-1;
      z-index: 8;
    }
  
    & .publishedAt {
      @apply text-sm font-bold text-gray-500 p-1 whitespace-nowrap ml-auto flex sm:hidden;
    }
  }
}