@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.3/static/pretendard.css');

html,
body {
  @apply bg-gray-100;
  padding: 0;
  margin: 0;
}

html, body, #__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
